
{% if message %}
  <h3>{{message}}</h3>
{% endif %}

<body>
        <div class="title">
            <h1>Choose an Album</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('show_album') }}">

                <label for="album_id">Choose an album to view
                    (note: there may be albums of the same name from other users): </label>

                <select name="album_id" id="album_id">
                    {% for album in albums %}
                        <option value={{album[1]}}>{{album[0]}}</option>
                    {% endfor %}
                </select><br>
                <input type="submit" value="see album" />

            </form>
         </div>


        <div class="title">
            <h1>Or, Choose a Tag</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('show_tag') }}">

                <label for="tag_id">Choose a tag to view
                    (tags are by most popular, in descending order: </label>

                <select name="tag_id" id="tag_id">
                    {% for tag in tags %}
                        <option value={{tag[1]}}>{{tag[0]}}</option>
                    {% endfor %}
                </select><br>
                <input type="checkbox" id="view_all" name="view_all" value="True">
                <label for="view_all"> View all users photos</label><br>
                <input type="submit" value="see tag" />

            </form>
         </div>

        <div class="title">
            <h1>Or, Type Multiple Tags</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('show_multi_tag') }}">

                <label for="tag_id"></label>

                <label for="tag_names">Enter tags (Separated by a comma and a space
                    e.g. friends, boston): </label>
                <input type="text" name="tag_names" required="required"/><br />
                <input type="checkbox" id="view_all" name="view_all" value="True">
                <label for="view_all"> View all users photos</label><br>
                <input type="submit" value="see tag" />

            </form>
         </div>

        <div id="content">
            <form method="post" action="{{ url_for('photo_rec') }}">

                <h3>Want to get recommended photos? </h3>
                <input type="submit" value="Recommend me photos" required="required" />

            </form>
         </div>


        <div class="title">
            <h2>Search users by comments:</h2>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('search_comments') }}">

                <label for="search_comment">Type a comment to search by
                    (no special characters): </label>
                <input type="text" name="search_comment" required="required"/><br />
                <input type="submit" value="find users" />

            </form>

            {% if comment_users %}
                <h3>Here are the users who have commented this (By frequency, in descending order):</h3>
                {% for user in comment_users %}
                    <li>{{user}}<br>
                {% endfor %}
            {% endif %}
         </div>



    </body>

<a href='/'>Home</a>

{% if photos %}
<h2>{{ photo_message }} {{ album_name }}</h2>
    <ul>
    {% for photo in photos %}
        <li><h3>{{photo[2]}}</h3><br>
        <img src="data:image/jpg;base64, {{ photo[0] }}"/></li><br>

        <h4>Comments:</h4>
        {% for comment in comments %}
            {% if photo[1] == comment[2] %}
                {{comment[0]}}: "{{comment[1]}}" </br>
            {% endif %}
        {% endfor %}

        {% for like in likes %}
            {% if photo[1] == like[0] %}
                <h4>Number of likes: {{like[1]}}</h4>
                <h4>Users who have liked: {{like[2]}}</h4>
            {% endif %}
        {% endfor %}

        <form method="post" action="{{ url_for('like_photo') }}">
            <input type="hidden" name="photo_id" value={{photo[1]}}>
            <label for="like"></label>
            <input type="submit" name="like" value="Press to Like" required="required"/><br />
        </form>

        <form method="post" action="{{ url_for('leave_comment') }}">
            <input type="hidden" name="photo_id" value={{photo[1]}}>
            <label for="comment">Leave a comment (255 char. max, no special characters): </label>
            <input type="text" name="comment" required="required"/><br />
            <input type="submit" value="leave comment" />
        </form>


    {% endfor %}
    </ul>
{% else %}
<h2>Tag/Album is empty or nothing is selected:</h2>
{% endif %}

