<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption (no special characters):</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="album">Which Album do you want to put it in?</label>
                <input type="text" name="album" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>

    {% if photos %}
        <div class="title">
            <h1>Add a tag to one of your photos</h1>
        </div>
            <form method="post" action="{{ url_for('add_tag') }}">

                <label for="photo_id">Choose a picture to add a tag to: </label>

                <select name="photo_id" id="photo_id">
                    {% for photo in photos %}
                        <option value={{photo[1]}}>{{photo[2]}}</option>
                    {% endfor %}
                </select>
                <label for="tag_name">What tag do you want to add to the photo?</label>
                <input type="text" name="tag_name" required='true' /><br />
                <input type="submit" value="Add tag" />

            </form>

    {% endif %}

    {% if photos %}
        <div class="title">
            <h1>Delete a photo from Photoshare</h1>
            *THIS CANNOT BE UNDONE*
        </div>
            <form method="post" action="{{ url_for('delete_file') }}">

                <label for="photo_id">Choose a picture to delete: </label>

                <select name="photo_id" id="photo_id">
                    {% for photo in photos %}
                        <option value={{photo[1]}}>{{photo[2]}}</option>
                    {% endfor %}
                </select>
                <input type="submit" style="color: red" value="Delete Photo" />

            </form>

    {% endif %}

    {% if albums %}
        <div class="title">
            <h1>Delete an album from Photoshare</h1>
            *THIS CANNOT BE UNDONE*
        </div>
            <form method="post" action="{{ url_for('delete_album') }}">

                <label for="album_id">Choose a picture to delete: </label>

                <select name="album_id" id="album_id">
                    {% for album in albums %}
                        <option value={{album[0]}}>{{album[1]}}</option>
                    {% endfor %}
                </select>
                <input type="submit" style="color: red" value="Delete Album" />

            </form>

    {% endif %}
    </body>

<ul>
    <li><a href='/photos'>Photos</a></li>
    <li><a href='/'>Home</a></li>
</ul>


